<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.webank.wecube.platform.core.repository.workflow.ExtraTaskMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.workflow.ExtraTaskEntity">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP"
            property="createdTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP"
            property="updatedTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="task_seq_no" jdbcType="VARCHAR" property="taskSeqNo" />
        <result column="task_type" jdbcType="VARCHAR" property="taskType" />
        <result column="priority" jdbcType="INTEGER" property="priority" />
        <result column="rev" jdbcType="INTEGER" property="rev" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="start_time" jdbcType="TIMESTAMP"
            property="startTime" />
        <result column="task_def" jdbcType="VARCHAR" property="taskDef" />
    </resultMap>
    <sql id="Base_Column_List">
        id, created_by, created_time, updated_by, updated_time,
        end_time,
        task_seq_no, task_type,
        priority,rev,
        status,
        start_time,
        task_def
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_extra_task
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from
        core_extra_task
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ExtraTaskEntity">
        insert into core_extra_task (
        id,
        created_by,
        created_time,
        updated_by,
        updated_time,
        end_time,
        task_seq_no,
        task_type,
        priority,
        rev,
        status,
        start_time,
        task_def
        )
        values
        (
        #{id,jdbcType=BIGINT},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=TIMESTAMP},
        #{endTime,jdbcType=TIMESTAMP},
        #{taskSeqNo,jdbcType=VARCHAR},
        #{taskType,jdbcType=VARCHAR},
        #{priority,jdbcType=INTEGER},
        #{rev,jdbcType=INTEGER},
        #{status,jdbcType=VARCHAR},
        #{startTime,jdbcType=TIMESTAMP},
        #{taskDef,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true"
        keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ExtraTaskEntity">
        insert into core_extra_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="taskSeqNo != null">
                task_seq_no,
            </if>
            <if test="taskType != null">
                task_type,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="rev != null">
                rev,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="taskDef != null">
                task_def,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskSeqNo != null">
                #{taskSeqNo,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null">
                #{taskType,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=INTEGER},
            </if>
            <if test="rev != null">
                #{rev,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskDef != null">
                #{taskDef,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ExtraTaskEntity">
        update core_extra_task
        <set>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskSeqNo != null">
                task_seq_no = #{taskSeqNo,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null">
                task_type = #{taskType,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=INTEGER},
            </if>
            <if test="rev != null">
                rev = #{rev,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskDef != null">
                task_def = #{taskDef,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelectiveCas">
        update core_extra_task
        <set>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskSeqNo != null">
                task_seq_no = #{taskSeqNo,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null">
                task_type = #{taskType,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=INTEGER},
            </if>
            <if test="rev != null">
                rev = #{rev,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskDef != null">
                task_def = #{taskDef,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{record.id,jdbcType=BIGINT}
        and rev =
        #{expectRev,jdbcType=INTEGER}
    </update>


    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ExtraTaskEntity">
        update core_extra_task
        set created_by =
        #{createdBy,jdbcType=VARCHAR},
        created_time =
        #{createdTime,jdbcType=TIMESTAMP},
        updated_by =
        #{updatedBy,jdbcType=VARCHAR},
        updated_time =
        #{updatedTime,jdbcType=TIMESTAMP},
        end_time =
        #{endTime,jdbcType=TIMESTAMP},
        task_seq_no =
        #{taskSeqNo,jdbcType=VARCHAR},
        task_type =
        #{taskType,jdbcType=VARCHAR},
        priority =
        #{priority,jdbcType=INTEGER},
        rev = #{rev,jdbcType=INTEGER},
        status =
        #{status,jdbcType=VARCHAR},
        start_time =
        #{startTime,jdbcType=TIMESTAMP},
        task_def =
        #{taskDef,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAllByStatus" parameterType="java.lang.String"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_extra_task
        where status =
        #{status,jdbcType=VARCHAR}
        and
        ( priority > -5 or
        priority is null )
        order by priority desc
        limit
        3000
    </select>
</mapper>