<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.webank.wecube.platform.core.repository.workflow.ProcExecBindingMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.workflow.ProcExecBindingEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP"
            property="createdTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP"
            property="updatedTime" />
        <result column="bind_type" jdbcType="VARCHAR" property="bindType" />
        <result column="entity_id" jdbcType="VARCHAR" property="entityId" />
        <result column="node_def_id" jdbcType="VARCHAR" property="nodeDefId" />
        <result column="proc_def_id" jdbcType="VARCHAR" property="procDefId" />
        <result column="proc_inst_id" jdbcType="INTEGER"
            property="procInstId" />
        <result column="task_node_inst_id" jdbcType="INTEGER"
            property="taskNodeInstId" />
        <result column="entity_data_id" jdbcType="VARCHAR"
            property="entityDataId" />
        <result column="entity_type_id" jdbcType="VARCHAR"
            property="entityTypeId" />
        <result column="entity_data_name" jdbcType="VARCHAR"
            property="entityDataName" />
        <result column="bind_flag" jdbcType="CHAR" property="bindFlag" />
        <result column="full_data_id" jdbcType="VARCHAR"
            property="fullEntityDataId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, created_by, created_time, updated_by, updated_time,
        bind_type,
        entity_id, node_def_id,
        proc_def_id, proc_inst_id,
        task_node_inst_id, entity_data_id, entity_type_id,
        entity_data_name,bind_flag,full_data_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_proc_exec_binding
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        core_ru_proc_exec_binding
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcExecBindingEntity">
        insert into core_ru_proc_exec_binding (id,
        created_by, created_time,
        updated_by, updated_time, bind_type,
        entity_id, node_def_id, proc_def_id,
        proc_inst_id,
        task_node_inst_id, entity_data_id,
        entity_type_id,
        entity_data_name,
        bind_flag,full_data_id)
        values (#{id,jdbcType=INTEGER},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=TIMESTAMP}, #{bindType,jdbcType=VARCHAR},
        #{entityId,jdbcType=VARCHAR}, #{nodeDefId,jdbcType=VARCHAR},
        #{procDefId,jdbcType=VARCHAR},
        #{procInstId,jdbcType=INTEGER},
        #{taskNodeInstId,jdbcType=INTEGER},
        #{entityDataId,jdbcType=VARCHAR},
        #{entityTypeId,jdbcType=VARCHAR},
        #{entityDataName,jdbcType=VARCHAR},
        #{bindFlag,jdbcType=CHAR},
        #{fullEntityDataId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true"
        keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcExecBindingEntity">
        insert into core_ru_proc_exec_binding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="bindType != null">
                bind_type,
            </if>
            <if test="entityId != null">
                entity_id,
            </if>
            <if test="nodeDefId != null">
                node_def_id,
            </if>
            <if test="procDefId != null">
                proc_def_id,
            </if>
            <if test="procInstId != null">
                proc_inst_id,
            </if>
            <if test="taskNodeInstId != null">
                task_node_inst_id,
            </if>
            <if test="entityDataId != null">
                entity_data_id,
            </if>
            <if test="entityTypeId != null">
                entity_type_id,
            </if>
            <if test="entityDataName != null">
                entity_data_name,
            </if>
            <if test="bindFlag != null">
                bind_flag,
            </if>
            <if test="fullEntityDataId != null">
                full_data_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bindType != null">
                #{bindType,jdbcType=VARCHAR},
            </if>
            <if test="entityId != null">
                #{entityId,jdbcType=VARCHAR},
            </if>
            <if test="nodeDefId != null">
                #{nodeDefId,jdbcType=VARCHAR},
            </if>
            <if test="procDefId != null">
                #{procDefId,jdbcType=VARCHAR},
            </if>
            <if test="procInstId != null">
                #{procInstId,jdbcType=INTEGER},
            </if>
            <if test="taskNodeInstId != null">
                #{taskNodeInstId,jdbcType=INTEGER},
            </if>
            <if test="entityDataId != null">
                #{entityDataId,jdbcType=VARCHAR},
            </if>
            <if test="entityTypeId != null">
                #{entityTypeId,jdbcType=VARCHAR},
            </if>
            <if test="entityDataName != null">
                #{entityDataName,jdbcType=VARCHAR},
            </if>
            <if test="bindFlag != null">
                #{bindFlag,jdbcType=CHAR},
            </if>
            <if test="fullEntityDataId != null">
                #{fullEntityDataId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcExecBindingEntity">
        update core_ru_proc_exec_binding
        <set>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bindType != null">
                bind_type = #{bindType,jdbcType=VARCHAR},
            </if>
            <if test="entityId != null">
                entity_id = #{entityId,jdbcType=VARCHAR},
            </if>
            <if test="nodeDefId != null">
                node_def_id = #{nodeDefId,jdbcType=VARCHAR},
            </if>
            <if test="procDefId != null">
                proc_def_id = #{procDefId,jdbcType=VARCHAR},
            </if>
            <if test="procInstId != null">
                proc_inst_id = #{procInstId,jdbcType=INTEGER},
            </if>
            <if test="taskNodeInstId != null">
                task_node_inst_id =
                #{taskNodeInstId,jdbcType=INTEGER},
            </if>
            <if test="entityDataId != null">
                entity_data_id =
                #{entityDataId,jdbcType=VARCHAR},
            </if>
            <if test="entityTypeId != null">
                entity_type_id =
                #{entityTypeId,jdbcType=VARCHAR},
            </if>
            <if test="entityDataName != null">
                entity_data_name =
                #{entityDataName,jdbcType=VARCHAR},
            </if>
            <if test="bindFlag != null">
                bind_flag =
                #{bindFlag,jdbcType=CHAR},
            </if>
            <if test="fullEntityDataId != null">
                full_data_id =
                #{fullEntityDataId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcExecBindingEntity">
        update core_ru_proc_exec_binding
        set created_by =
        #{createdBy,jdbcType=VARCHAR},
        created_time =
        #{createdTime,jdbcType=TIMESTAMP},
        updated_by =
        #{updatedBy,jdbcType=VARCHAR},
        updated_time =
        #{updatedTime,jdbcType=TIMESTAMP},
        bind_type =
        #{bindType,jdbcType=VARCHAR},
        entity_id =
        #{entityId,jdbcType=VARCHAR},
        node_def_id =
        #{nodeDefId,jdbcType=VARCHAR},
        proc_def_id =
        #{procDefId,jdbcType=VARCHAR},
        proc_inst_id =
        #{procInstId,jdbcType=INTEGER},
        task_node_inst_id =
        #{taskNodeInstId,jdbcType=INTEGER},
        entity_data_id =
        #{entityDataId,jdbcType=VARCHAR},
        entity_type_id =
        #{entityTypeId,jdbcType=VARCHAR},
        entity_data_name =
        #{entityDataName,jdbcType=VARCHAR},
        bind_flag =
        #{bindFlag,jdbcType=VARCHAR},
        full_data_id =
        #{fullEntityDataId,jdbcType=VARCHAR}
        where id =
        #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAllTaskNodeBindings" parameterType="java.lang.Integer"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_proc_exec_binding
        where proc_inst_id =
        #{procInstId,jdbcType=INTEGER}
        and bind_type = 'taskNode'
        and
        task_node_inst_id =
        #{nodeInstId,jdbcType=INTEGER}
    </select>

    <select id="selectProcInstBindings" parameterType="java.lang.Integer"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_proc_exec_binding
        where proc_inst_id =
        #{procInstId,jdbcType=INTEGER}
        and bind_type = 'process'
    </select>

    <select id="selectAllTaskNodeBindingsByProcInstId"
        parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_proc_exec_binding
        where proc_inst_id =
        #{procInstId,jdbcType=INTEGER}
        and bind_type = 'taskNode'
    </select>

    <select id="selectAllBoundTaskNodeBindings" parameterType="java.lang.Integer"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_proc_exec_binding
        where proc_inst_id =
        #{procInstId,jdbcType=INTEGER}
        and bind_type = 'taskNode'
        and
        task_node_inst_id =
        #{nodeInstId,jdbcType=INTEGER}
        and
        (bind_flag
        != 'N' OR bind_flag IS NULL OR bind_flag = '')
    </select>

    <delete id="deleteAllTaskNodeBindings">
        delete
        from
        core_ru_proc_exec_binding
        where
        proc_inst_id =
        #{procInstId,jdbcType=INTEGER}
        and bind_type =
        'taskNode'
        and
        task_node_inst_id =
        #{nodeInstId,jdbcType=INTEGER}

    </delete>

    <select id="selectAllBoundRunningProcInstances"
        parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT DISTINCT
        t1.proc_inst_id
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id
        = t1.proc_inst_id
        AND
        t2.status != 'Completed'
        AND t2.status !=
        'InternallyTerminated'
        AND t2.status !=
        'NotStarted'
        AND
        t1.entity_data_id =
        #{entityDataId,jdbcType=VARCHAR}
    </select>

    <select id="countAllBoundRunningProcInstances" parameterType="java.lang.String"
        resultType="int">
        SELECT count(*)
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id
        = t1.proc_inst_id
        AND t2.status != 'Completed'
        AND t2.status !=
        'InternallyTerminated'
        AND t2.status !=
        'NotStarted'
        AND
        t1.entity_data_id = #{entityDataId,jdbcType=VARCHAR}
    </select>

    <select id="selectAllExclusiveBoundRunningProcInstances"
        parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT DISTINCT
        t1.proc_inst_id
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2,
        core_re_proc_def_info t3
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id
        = t1.proc_inst_id
        AND t2.status
        != 'Completed'
        AND t2.status !=
        'InternallyTerminated'
        AND
        t2.status !=
        'NotStarted'
        AND t3.id =
        t1.proc_def_id
        AND
        t3.exclude_mode = 'Y'
        AND t1.entity_data_id =
        #{entityDataId,jdbcType=VARCHAR}
    </select>

    <select id="countAllExclusiveBoundRunningProcInstances"
        parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2,
        core_re_proc_def_info t3
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id
        = t1.proc_inst_id
        AND
        t2.status != 'Completed'
        AND t2.status !=
        'InternallyTerminated'
        AND t2.status !=
        'NotStarted'
        AND t3.id =
        t1.proc_def_id
        AND
        t3.exclude_mode = 'Y'
        AND t1.entity_data_id =
        #{entityDataId,jdbcType=VARCHAR}
    </select>

    <select id="selectAllBoundRunningProcInstancesWithoutProcInst"
        resultType="java.lang.Integer">
        SELECT DISTINCT
        t1.proc_inst_id
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id = t1.proc_inst_id
        AND
        t2.status != 'Completed'
        AND t2.status != 'InternallyTerminated'
        AND t2.status !=
        'NotStarted'
        AND t1.entity_data_id =
        #{entityDataId,jdbcType=VARCHAR}
        AND
        t2.id !=
        #{procInstId,jdbcType=INTEGER}
    </select>

    <select id="countAllBoundRunningProcInstancesWithoutProcInst"
        resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id
        = t1.proc_inst_id
        AND t2.status != 'Completed'
        AND t2.status !=
        'InternallyTerminated'
        AND t2.status !=
        'NotStarted'
        AND
        t1.entity_data_id = #{entityDataId,jdbcType=VARCHAR}
        AND
        t2.id != #{procInstId,jdbcType=INTEGER}
    </select>

    <select id="selectAllExclusiveBoundRunningProcInstancesWithoutProcInst"
        resultType="java.lang.Integer">
        SELECT DISTINCT t1.proc_inst_id
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2,
        core_re_proc_def_info t3
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id
        = t1.proc_inst_id
        AND t2.status != 'Completed'
        AND t2.status !=
        'InternallyTerminated'
        AND t2.status !=
        'NotStarted'
        AND t3.id =
        t1.proc_def_id
        AND t3.exclude_mode = 'Y'
        AND t1.entity_data_id =
        #{entityDataId,jdbcType=VARCHAR}
        AND
        t2.id !=
        #{procInstId,jdbcType=INTEGER}
    </select>

    <select id="countAllExclusiveBoundRunningProcInstancesWithoutProcInst"
        resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        core_ru_proc_exec_binding t1,
        core_ru_proc_inst_info t2,
        core_re_proc_def_info t3
        WHERE
        t1.bind_type = 'taskNode'
        AND t2.id = t1.proc_inst_id
        AND
        t2.status != 'Completed'
        AND t2.status != 'InternallyTerminated'
        AND t2.status !=
        'NotStarted'
        AND t3.id = t1.proc_def_id
        AND
        t3.exclude_mode = 'Y'
        AND t1.entity_data_id =
        #{entityDataId,jdbcType=VARCHAR}
        AND
        t2.id !=
        #{procInstId,jdbcType=INTEGER}
    </select>
</mapper>