<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.webank.wecube.platform.core.repository.workflow.ProcDefInfoMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.workflow.ProcDefInfoEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP"
            property="createdTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP"
            property="updatedTime" />
        <result column="active" jdbcType="BIT" property="active" />
        <result column="rev" jdbcType="INTEGER" property="rev" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="proc_def_data_fmt" jdbcType="VARCHAR"
            property="procDefDataFmt" />
        <result column="proc_def_kernel_id" jdbcType="VARCHAR"
            property="procDefKernelId" />
        <result column="proc_def_key" jdbcType="VARCHAR"
            property="procDefKey" />
        <result column="proc_def_name" jdbcType="VARCHAR"
            property="procDefName" />
        <result column="proc_def_ver" jdbcType="INTEGER"
            property="procDefVer" />
        <result column="root_entity" jdbcType="VARCHAR" property="rootEntity" />
        <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
        <result column="owner" jdbcType="VARCHAR" property="owner" />
        <result column="owner_grp" jdbcType="VARCHAR" property="ownerGrp" />
        <result column="exclude_mode" jdbcType="VARCHAR"
            property="excludeMode" />
        <result column="tags" jdbcType="VARCHAR"
            property="tags" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
        type="com.webank.wecube.platform.core.entity.workflow.ProcDefInfoEntity">
        <result column="proc_def_data" jdbcType="LONGVARCHAR"
            property="procDefData" />
    </resultMap>
    <sql id="Base_Column_List">
        id, 
        created_by, 
        created_time, 
        updated_by, 
        updated_time,
        active, 
        rev,
        status, 
        proc_def_data_fmt,
        proc_def_kernel_id,
        proc_def_key, 
        proc_def_name, 
        proc_def_ver, 
        root_entity,
        is_deleted,
        owner, 
        owner_grp, 
        exclude_mode,
        tags
    </sql>
    <sql id="Blob_Column_List">
        proc_def_data
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
        resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from core_re_proc_def_info
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        core_re_proc_def_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcDefInfoEntity">
        insert into core_re_proc_def_info (
        id, 
        created_by,
        created_time,
        updated_by, 
        updated_time, 
        active,
        rev, 
        status,
        proc_def_data_fmt,
        proc_def_kernel_id, 
        proc_def_key,
        proc_def_name,
        proc_def_ver, 
        root_entity, 
        is_deleted,
        owner,
        owner_grp, 
        exclude_mode,
        tags, 
        proc_def_data
        )
        values
        (#{id,jdbcType=VARCHAR},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=TIMESTAMP}, #{active,jdbcType=BIT},
        #{rev,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR},
        #{procDefDataFmt,jdbcType=VARCHAR},
        #{procDefKernelId,jdbcType=VARCHAR},
        #{procDefKey,jdbcType=VARCHAR}, #{procDefName,jdbcType=VARCHAR},
        #{procDefVer,jdbcType=INTEGER}, #{rootEntity,jdbcType=VARCHAR},
        #{isDeleted,jdbcType=BIT},
        #{owner,jdbcType=VARCHAR},
        #{ownerGrp,jdbcType=VARCHAR},
        #{excludeMode,jdbcType=VARCHAR},
        #{tags,jdbcType=VARCHAR},
        #{procDefData,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcDefInfoEntity">
        insert into core_re_proc_def_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="active != null">
                active,
            </if>
            <if test="rev != null">
                rev,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="procDefDataFmt != null">
                proc_def_data_fmt,
            </if>
            <if test="procDefKernelId != null">
                proc_def_kernel_id,
            </if>
            <if test="procDefKey != null">
                proc_def_key,
            </if>
            <if test="procDefName != null">
                proc_def_name,
            </if>
            <if test="procDefVer != null">
                proc_def_ver,
            </if>
            <if test="rootEntity != null">
                root_entity,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="owner != null">
                owner,
            </if>
            <if test="ownerGrp != null">
                owner_grp,
            </if>
            <if test="excludeMode != null">
                exclude_mode,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="procDefData != null">
                proc_def_data,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="active != null">
                #{active,jdbcType=BIT},
            </if>
            <if test="rev != null">
                #{rev,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="procDefDataFmt != null">
                #{procDefDataFmt,jdbcType=VARCHAR},
            </if>
            <if test="procDefKernelId != null">
                #{procDefKernelId,jdbcType=VARCHAR},
            </if>
            <if test="procDefKey != null">
                #{procDefKey,jdbcType=VARCHAR},
            </if>
            <if test="procDefName != null">
                #{procDefName,jdbcType=VARCHAR},
            </if>
            <if test="procDefVer != null">
                #{procDefVer,jdbcType=INTEGER},
            </if>
            <if test="rootEntity != null">
                #{rootEntity,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="owner != null">
                #{owner,jdbcType=VARCHAR},
            </if>
            <if test="ownerGrp != null">
                #{ownerGrp,jdbcType=VARCHAR},
            </if>
            <if test="excludeMode != null">
                #{excludeMode,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="procDefData != null">
                #{procDefData,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcDefInfoEntity">
        update core_re_proc_def_info
        <set>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="active != null">
                active = #{active,jdbcType=BIT},
            </if>
            <if test="rev != null">
                rev = #{rev,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="procDefDataFmt != null">
                proc_def_data_fmt =
                #{procDefDataFmt,jdbcType=VARCHAR},
            </if>
            <if test="procDefKernelId != null">
                proc_def_kernel_id =
                #{procDefKernelId,jdbcType=VARCHAR},
            </if>
            <if test="procDefKey != null">
                proc_def_key = #{procDefKey,jdbcType=VARCHAR},
            </if>
            <if test="procDefName != null">
                proc_def_name = #{procDefName,jdbcType=VARCHAR},
            </if>
            <if test="procDefVer != null">
                proc_def_ver = #{procDefVer,jdbcType=INTEGER},
            </if>
            <if test="rootEntity != null">
                root_entity = #{rootEntity,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="owner != null">
                owner = #{owner,jdbcType=VARCHAR},
            </if>
            <if test="ownerGrp != null">
                owner_grp = #{ownerGrp,jdbcType=VARCHAR},
            </if>
            <if test="excludeMode != null">
                exclude_mode = #{excludeMode,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="procDefData != null">
                proc_def_data =
                #{procDefData,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.workflow.ProcDefInfoEntity">
        update core_re_proc_def_info
        set created_by =
        #{createdBy,jdbcType=VARCHAR},
        created_time =
        #{createdTime,jdbcType=TIMESTAMP},
        updated_by =
        #{updatedBy,jdbcType=VARCHAR},
        updated_time =
        #{updatedTime,jdbcType=TIMESTAMP},
        active =
        #{active,jdbcType=BIT},
        rev = #{rev,jdbcType=INTEGER},
        status =
        #{status,jdbcType=VARCHAR},
        proc_def_data_fmt =
        #{procDefDataFmt,jdbcType=VARCHAR},
        proc_def_kernel_id =
        #{procDefKernelId,jdbcType=VARCHAR},
        proc_def_key =
        #{procDefKey,jdbcType=VARCHAR},
        proc_def_name =
        #{procDefName,jdbcType=VARCHAR},
        proc_def_ver =
        #{procDefVer,jdbcType=INTEGER},
        root_entity =
        #{rootEntity,jdbcType=VARCHAR},
        is_deleted =
        #{isDeleted,jdbcType=BIT},
        owner = #{owner,jdbcType=VARCHAR},
        owner_grp = #{ownerGrp,jdbcType=VARCHAR},
        exclude_mode =
        #{excludeMode,jdbcType=VARCHAR},
        tags =
        #{tags,jdbcType=VARCHAR},
        proc_def_data =
        #{procDefData,jdbcType=LONGVARCHAR}
        where id =
        #{id,jdbcType=VARCHAR}
    </update>


    <select id="selectAllDeployedOrDraftProcDefs" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from core_re_proc_def_info
        where
        active = false
        and
        (
        status =
        'deployed'
        or
        status = 'draft'
        )

    </select>

    <select id="selectAllDeployedProcDefsByProcDefName"
        parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from core_re_proc_def_info
        where proc_def_name =
        #{procDefName,jdbcType=VARCHAR}
        and active = true
        and status =
        'deployed'
        and is_deleted = false
    </select>

    <select id="selectAllDeployedProcDefsByProcDefKey"
        parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from core_re_proc_def_info
        where proc_def_key =
        #{procDefKey,jdbcType=VARCHAR}
        and active = true
        and is_deleted =
        false
        and status = #{status,jdbcType=VARCHAR}
    </select>

    <select id="selectAllAuthorizedProcDefs"
        resultType="com.webank.wecube.platform.core.entity.workflow.ProcDefAuthInfoQueryEntity">
        SELECT t1.id , t1.proc_def_key AS procDefKey,
        t1.proc_def_name AS
        procDefName,
        t1.root_entity AS rootEntity,
        t1.status AS status,
        t1.proc_def_ver AS procDefVersion
        FROM core_re_proc_def_info t1 ,
        core_ru_proc_role_binding t2
        WHERE t2.proc_id = t1.id
        AND
        t2.permission = 'USE'
        AND t2.role_name IN
        <foreach item="roleName" collection="roleNames"
            separator="," open="(" close=")" index="">
            #{roleName,
            jdbcType=VARCHAR}
        </foreach>
        AND t1.status = 'deployed'
    </select>
</mapper>