<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.webank.wecube.platform.core.repository.workflow.TaskNodeExecParamMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.workflow.TaskNodeExecParamEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP"
            property="createdTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP"
            property="updatedTime" />
        <result column="obj_id" jdbcType="VARCHAR" property="objId" />
        <result column="param_data_type" jdbcType="VARCHAR"
            property="paramDataType" />
        <result column="param_data_value" jdbcType="VARCHAR"
            property="paramDataValue" />
        <result column="param_name" jdbcType="VARCHAR" property="paramName" />
        <result column="param_type" jdbcType="VARCHAR" property="paramType" />
        <result column="req_id" jdbcType="VARCHAR" property="reqId" />
        <result column="root_entity_id" jdbcType="VARCHAR"
            property="rootEntityId" />
        <result column="entity_data_id" jdbcType="VARCHAR"
            property="entityDataId" />
        <result column="entity_type_id" jdbcType="VARCHAR"
            property="entityTypeId" />
        <result column="is_sensitive" jdbcType="BIT" property="isSensitive" />
        <result column="full_data_id" jdbcType="VARCHAR"
            property="fullEntityDataId" />
        <result column="multiple" jdbcType="VARCHAR"
            property="multiple" />
        <result column="param_def_id" jdbcType="VARCHAR"
            property="paramDefId" />
        <result column="mapping_type" jdbcType="VARCHAR"
            property="mappingType" />
        <result column="callback_id" jdbcType="VARCHAR"
            property="callbackId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, 
        created_by, 
        created_time, 
        updated_by, 
        updated_time,
        obj_id,
        param_data_type,
        param_data_value, 
        param_name, 
        param_type,
        req_id, 
        root_entity_id, 
        entity_data_id,
        entity_type_id,
        is_sensitive,
        full_data_id,
        multiple,
        param_def_id,
        mapping_type,
        callback_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_task_node_exec_param
        where id =
        #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        core_ru_task_node_exec_param
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.workflow.TaskNodeExecParamEntity">
        insert into core_ru_task_node_exec_param (id,
        created_by, 
        created_time,
        updated_by, 
        updated_time, 
        obj_id,
        param_data_type, 
        param_data_value, 
        param_name,
        param_type,
        req_id, 
        root_entity_id,
        entity_data_id, 
        entity_type_id,
        is_sensitive,
        full_data_id,
        multiple,
        param_def_id,
        mapping_type,
        callback_id
        )
        values (
        #{id,jdbcType=INTEGER},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=TIMESTAMP}, 
        #{objId,jdbcType=VARCHAR},
        #{paramDataType,jdbcType=VARCHAR},
        #{paramDataValue,jdbcType=VARCHAR},
        #{paramName,jdbcType=VARCHAR},
        #{paramType,jdbcType=VARCHAR},
        #{reqId,jdbcType=VARCHAR}, 
        #{rootEntityId,jdbcType=VARCHAR},
        #{entityDataId,jdbcType=VARCHAR},
        #{entityTypeId,jdbcType=VARCHAR}, 
        #{isSensitive,jdbcType=BIT},
        #{fullEntityDataId,jdbcType=VARCHAR},
        #{multiple,jdbcType=VARCHAR},
        #{paramDefId,jdbcType=VARCHAR},
        #{mappingType,jdbcType=VARCHAR},
        #{callbackId,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true"
        keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.workflow.TaskNodeExecParamEntity">
        insert into core_ru_task_node_exec_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="objId != null">
                obj_id,
            </if>
            <if test="paramDataType != null">
                param_data_type,
            </if>
            <if test="paramDataValue != null">
                param_data_value,
            </if>
            <if test="paramName != null">
                param_name,
            </if>
            <if test="paramType != null">
                param_type,
            </if>
            <if test="reqId != null">
                req_id,
            </if>
            <if test="rootEntityId != null">
                root_entity_id,
            </if>
            <if test="entityDataId != null">
                entity_data_id,
            </if>
            <if test="entityTypeId != null">
                entity_type_id,
            </if>
            <if test="isSensitive != null">
                is_sensitive,
            </if>
            <if test="fullEntityDataId != null">
                full_data_id,
            </if>
            <if test="multiple != null">
                multiple,
            </if>
            <if test="paramDefId != null">
                param_def_id,
            </if>
            <if test="mappingType != null">
                mapping_type,
            </if>
            <if test="callbackId != null">
                callback_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="objId != null">
                #{objId,jdbcType=VARCHAR},
            </if>
            <if test="paramDataType != null">
                #{paramDataType,jdbcType=VARCHAR},
            </if>
            <if test="paramDataValue != null">
                #{paramDataValue,jdbcType=VARCHAR},
            </if>
            <if test="paramName != null">
                #{paramName,jdbcType=VARCHAR},
            </if>
            <if test="paramType != null">
                #{paramType,jdbcType=VARCHAR},
            </if>
            <if test="reqId != null">
                #{reqId,jdbcType=VARCHAR},
            </if>
            <if test="rootEntityId != null">
                #{rootEntityId,jdbcType=VARCHAR},
            </if>
            <if test="entityDataId != null">
                #{entityDataId,jdbcType=VARCHAR},
            </if>
            <if test="entityTypeId != null">
                #{entityTypeId,jdbcType=VARCHAR},
            </if>
            <if test="isSensitive != null">
                #{isSensitive,jdbcType=BIT},
            </if>
            <if test="fullEntityDataId != null">
                #{fullEntityDataId,jdbcType=VARCHAR},
            </if>
            <if test="multiple != null">
                #{multiple,jdbcType=VARCHAR},
            </if>
            <if test="paramDefId != null">
                #{paramDefId,jdbcType=VARCHAR},
            </if>
            <if test="mappingType != null">
                #{mappingType,jdbcType=VARCHAR},
            </if>
            <if test="callbackId != null">
                #{callbackId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.workflow.TaskNodeExecParamEntity">
        update core_ru_task_node_exec_param
        <set>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="objId != null">
                obj_id = #{objId,jdbcType=VARCHAR},
            </if>
            <if test="paramDataType != null">
                param_data_type =
                #{paramDataType,jdbcType=VARCHAR},
            </if>
            <if test="paramDataValue != null">
                param_data_value =
                #{paramDataValue,jdbcType=VARCHAR},
            </if>
            <if test="paramName != null">
                param_name = #{paramName,jdbcType=VARCHAR},
            </if>
            <if test="paramType != null">
                param_type = #{paramType,jdbcType=VARCHAR},
            </if>
            <if test="reqId != null">
                req_id = #{reqId,jdbcType=VARCHAR},
            </if>
            <if test="rootEntityId != null">
                root_entity_id =
                #{rootEntityId,jdbcType=VARCHAR},
            </if>
            <if test="entityDataId != null">
                entity_data_id =
                #{entityDataId,jdbcType=VARCHAR},
            </if>
            <if test="entityTypeId != null">
                entity_type_id =
                #{entityTypeId,jdbcType=VARCHAR},
            </if>
            <if test="isSensitive != null">
                is_sensitive = #{isSensitive,jdbcType=BIT},
            </if>
             <if test="fullEntityDataId != null">
                full_data_id =
                #{fullEntityDataId,jdbcType=VARCHAR},
            </if>
            <if test="multiple != null">
                multiple =
                #{multiple,jdbcType=VARCHAR},
            </if>
            <if test="paramDefId != null">
                param_def_id =
                #{paramDefId,jdbcType=VARCHAR},
            </if>
            <if test="mappingType != null">
                mapping_type =
                #{mappingType,jdbcType=VARCHAR},
            </if>
            <if test="callbackId != null">
                callback_id =
                #{callbackId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.workflow.TaskNodeExecParamEntity">
        update core_ru_task_node_exec_param
        set created_by
        = #{createdBy,jdbcType=VARCHAR},
        created_time =
        #{createdTime,jdbcType=TIMESTAMP},
        updated_by =
        #{updatedBy,jdbcType=VARCHAR},
        updated_time =
        #{updatedTime,jdbcType=TIMESTAMP},
        obj_id =
        #{objId,jdbcType=VARCHAR},
        param_data_type =
        #{paramDataType,jdbcType=VARCHAR},
        param_data_value =
        #{paramDataValue,jdbcType=VARCHAR},
        param_name =
        #{paramName,jdbcType=VARCHAR},
        param_type =
        #{paramType,jdbcType=VARCHAR},
        req_id =
        #{reqId,jdbcType=VARCHAR},
        root_entity_id =
        #{rootEntityId,jdbcType=VARCHAR},
        entity_data_id =
        #{entityDataId,jdbcType=VARCHAR},
        entity_type_id =
        #{entityTypeId,jdbcType=VARCHAR},
        is_sensitive =
        #{isSensitive,jdbcType=BIT},
        full_data_id =
        #{fullEntityDataId,jdbcType=VARCHAR},
        multiple =
        #{multiple,jdbcType=VARCHAR},
        param_def_id =
        #{paramDefId,jdbcType=VARCHAR},
        mapping_type =
        #{mappingType,jdbcType=VARCHAR},
        callback_id =
        #{callbackId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAllByRequestIdAndParamNameAndParamType"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_task_node_exec_param
        where req_id =
        #{requestId,jdbcType=VARCHAR}
        and param_type =
        #{paramType,jdbcType=VARCHAR}
        and param_name =
        #{paramName,jdbcType=VARCHAR}
        
    </select>

    <select id="selectAllByRequestIdAndParamType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_task_node_exec_param
        where req_id =
        #{requestId,jdbcType=VARCHAR}
        and param_type =
        #{paramType,jdbcType=VARCHAR}
    </select>

    <select id="selectOneByRequestIdAndParamTypeAndParamNameAndValue"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from core_ru_task_node_exec_param
        where req_id =
        #{requestId,jdbcType=VARCHAR}
        and param_type =
        #{paramType,jdbcType=VARCHAR}
        and param_name =
        #{paramName,jdbcType=VARCHAR}
        and param_data_value =
        #{paramDataValue,jdbcType=VARCHAR}
    </select>
</mapper>