<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wecube.platform.core.repository.workflow.UserScheduledTaskMapper" >
  <resultMap id="BaseResultMap" type="com.webank.wecube.platform.core.entity.workflow.UserScheduledTaskEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="proc_def_id" property="procDefId" jdbcType="VARCHAR" />
    <result column="proc_def_name" property="procDefName" jdbcType="VARCHAR" />
    <result column="entity_data_id" property="entityDataId" jdbcType="VARCHAR" />
    <result column="entity_data_name" property="entityDataName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="schedule_mode" property="scheduleMode" jdbcType="VARCHAR" />
    <result column="schedule_expr" property="scheduleExpr" jdbcType="VARCHAR" />
    <result column="rev" property="rev" jdbcType="INTEGER" />
    <result column="exec_start_time" property="execStartTime" jdbcType="TIMESTAMP" />
    <result column="exec_end_time" property="execEndTime" jdbcType="TIMESTAMP" />
    <result column="exec_times" property="execTimes" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, created_by, created_time, updated_by, updated_time, owner, proc_def_id, proc_def_name, 
    entity_data_id, entity_data_name, status, schedule_mode, schedule_expr, rev, exec_start_time, 
    exec_end_time, exec_times
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from core_user_scheduled_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from core_user_scheduled_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.webank.wecube.platform.core.entity.workflow.UserScheduledTaskEntity" >
    insert into core_user_scheduled_task (id, created_by, created_time, 
      updated_by, updated_time, owner, 
      proc_def_id, proc_def_name, entity_data_id, 
      entity_data_name, status, schedule_mode, 
      schedule_expr, rev, exec_start_time, 
      exec_end_time, exec_times)
    values (#{id,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{owner,jdbcType=VARCHAR}, 
      #{procDefId,jdbcType=VARCHAR}, #{procDefName,jdbcType=VARCHAR}, #{entityDataId,jdbcType=VARCHAR}, 
      #{entityDataName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{scheduleMode,jdbcType=VARCHAR}, 
      #{scheduleExpr,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{execStartTime,jdbcType=TIMESTAMP}, 
      #{execEndTime,jdbcType=TIMESTAMP}, #{execTimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.webank.wecube.platform.core.entity.workflow.UserScheduledTaskEntity" >
    insert into core_user_scheduled_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="procDefId != null" >
        proc_def_id,
      </if>
      <if test="procDefName != null" >
        proc_def_name,
      </if>
      <if test="entityDataId != null" >
        entity_data_id,
      </if>
      <if test="entityDataName != null" >
        entity_data_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="scheduleMode != null" >
        schedule_mode,
      </if>
      <if test="scheduleExpr != null" >
        schedule_expr,
      </if>
      <if test="rev != null" >
        rev,
      </if>
      <if test="execStartTime != null" >
        exec_start_time,
      </if>
      <if test="execEndTime != null" >
        exec_end_time,
      </if>
      <if test="execTimes != null" >
        exec_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null" >
        #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="procDefName != null" >
        #{procDefName,jdbcType=VARCHAR},
      </if>
      <if test="entityDataId != null" >
        #{entityDataId,jdbcType=VARCHAR},
      </if>
      <if test="entityDataName != null" >
        #{entityDataName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="scheduleMode != null" >
        #{scheduleMode,jdbcType=VARCHAR},
      </if>
      <if test="scheduleExpr != null" >
        #{scheduleExpr,jdbcType=VARCHAR},
      </if>
      <if test="rev != null" >
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="execStartTime != null" >
        #{execStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="execEndTime != null" >
        #{execEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="execTimes != null" >
        #{execTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webank.wecube.platform.core.entity.workflow.UserScheduledTaskEntity" >
    update core_user_scheduled_task
    <set >
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null" >
        proc_def_id = #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="procDefName != null" >
        proc_def_name = #{procDefName,jdbcType=VARCHAR},
      </if>
      <if test="entityDataId != null" >
        entity_data_id = #{entityDataId,jdbcType=VARCHAR},
      </if>
      <if test="entityDataName != null" >
        entity_data_name = #{entityDataName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="scheduleMode != null" >
        schedule_mode = #{scheduleMode,jdbcType=VARCHAR},
      </if>
      <if test="scheduleExpr != null" >
        schedule_expr = #{scheduleExpr,jdbcType=VARCHAR},
      </if>
      <if test="rev != null" >
        rev = #{rev,jdbcType=INTEGER},
      </if>
      <if test="execStartTime != null" >
        exec_start_time = #{execStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="execEndTime != null" >
        exec_end_time = #{execEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="execTimes != null" >
        exec_times = #{execTimes,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webank.wecube.platform.core.entity.workflow.UserScheduledTaskEntity" >
    update core_user_scheduled_task
    set created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      owner = #{owner,jdbcType=VARCHAR},
      proc_def_id = #{procDefId,jdbcType=VARCHAR},
      proc_def_name = #{procDefName,jdbcType=VARCHAR},
      entity_data_id = #{entityDataId,jdbcType=VARCHAR},
      entity_data_name = #{entityDataName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      schedule_mode = #{scheduleMode,jdbcType=VARCHAR},
      schedule_expr = #{scheduleExpr,jdbcType=VARCHAR},
      rev = #{rev,jdbcType=INTEGER},
      exec_start_time = #{execStartTime,jdbcType=TIMESTAMP},
      exec_end_time = #{execEndTime,jdbcType=TIMESTAMP},
      exec_times = #{execTimes,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>