*/target/
*/bin/
*/node_modules/
*/dist/
*.log
*.log.*.gz
## */package-lock.json
*/node/
bin/


**/resources/application-dev.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*dist
*dist.zip

.DS_Store
**/a.json

platform-core/platform-core
platform-core/logs

platform-gateway/config
platform-auth-server/config

platform-gateway/platform-gateway
platform-auth-server/platform-auth-server