@font-face {
  font-family: 'SourceHanSans';  /* 思源黑体 */
  src: url('./SourceHanSansCN-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* 基础字体设置 */
// * {
//   font-family: 'Times New Roman', 'SourceHanSans', sans-serif;
// }

/* 全局字体优先级设置 */
body {
  font-family: 
    "Times New Roman",       /* 英文字体 */
    "SourceHanSans",         /* 中文字体 */
    sans-serif;              /* 无衬线兜底 */
}
