<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="logPath" value="${APP_LOG_PATH:-./target/data/wecube/log}"/>
    <property name="logFile" value="wecube-core"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %-48logger{48} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="rollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <File>${logPath}/${logFile}.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/${logFile}-%d{yyyyMMdd}.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %thread %-5level %-48logger{48} %msg%n]]>
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <appender name="rollingSqlFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <File>${logPath}/wecube-core-sql.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/${logFile}-%d{yyyyMMdd}.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %thread %-5level %-48logger{48} %msg%n]]>
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <appender name="accessRollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        
        <File>${logPath}/access.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/access-%d{yyyyMMdd}.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %msg%n]]>
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <logger name="com.webank.wecube" level="debug" 
        additivity="false"> 
        <appender-ref ref="rollingFile" /> 
    </logger>
    
    <logger name="com.webank.wecube.platform.core.repository" level="debug" 
        additivity="false"> 
        <appender-ref ref="rollingSqlFile" /> 
    </logger>
    
    <logger name="access" level="info" 
        additivity="false"> 
        <appender-ref ref="accessRollingFile" /> 
    </logger>
         
    <root level="info">
        <!-- 
        <appender-ref ref="console"/>
         -->
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
