<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler"
            javaType="com.webank.wecube.platform.workflow.model.TraceStatus" />
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql" />
            <property name="offsetAsPageNum" value="true" />
            <property name="rowBoundsWithCount" value="true" />
            <property name="pageSizeZero" value="true" />
            <property name="reasonable" value="false" />
            <property name="params"
                value="pageNum=pageHelperStart;pageSize=pageHelperRows;" />
            <property name="supportMethodsArguments" value="false" />
            <property name="returnPageInfo" value="none" />
        </plugin>
    </plugins>
</configuration>