<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
    namespace="com.webank.wecube.platform.core.repository.plugin.CoreObjectVarMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.plugin.CoreObjectVar">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="object_meta_id" property="objectMetaId"
            jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="package_name" property="packageName"
            jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy"
            jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime"
            jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy"
            jdbcType="VARCHAR" />
        <result column="updated_time" property="updatedTime"
            jdbcType="TIMESTAMP" />
        <result column="parent_object_var_id" property="parentObjectVarId"
            jdbcType="VARCHAR" />
        <result column="parent_object_name" property="parentObjectName"
            jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        id, object_meta_id, name, package_name, created_by,
        created_time,
        updated_by, updated_time,
        parent_object_var_id,
        parent_object_name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_object_var
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        plugin_object_var
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectVar">
        insert into plugin_object_var (id, object_meta_id,
        name,
        package_name, created_by, created_time,
        updated_by,
        updated_time,parent_object_var_id,
        parent_object_name)
        values
        (#{id,jdbcType=VARCHAR}, #{objectMetaId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{packageName,jdbcType=VARCHAR},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=TIMESTAMP},
        #{parentObjectVarId,jdbcType=VARCHAR},
        #{parentObjectName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectVar">
        insert into plugin_object_var
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="objectMetaId != null">
                object_meta_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="packageName != null">
                package_name,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="parentObjectVarId != null">
                parent_object_var_id,
            </if>
            <if test="parentObjectName != null">
                parent_object_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="objectMetaId != null">
                #{objectMetaId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="packageName != null">
                #{packageName,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="parentObjectVarId != null">
                #{parentObjectVarId,jdbcType=VARCHAR},
            </if>
            <if test="parentObjectName != null">
                #{parentObjectName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectVar">
        update plugin_object_var
        <set>
            <if test="objectMetaId != null">
                object_meta_id =
                #{objectMetaId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="packageName != null">
                package_name = #{packageName,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="parentObjectVarId != null">
                parent_object_var_id =
                #{parentObjectVarId,jdbcType=VARCHAR},
            </if>
            <if test="parentObjectName != null">
                parent_object_name =
                #{parentObjectName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectVar">
        update plugin_object_var
        set object_meta_id =
        #{objectMetaId,jdbcType=VARCHAR},
        name =
        #{name,jdbcType=VARCHAR},
        package_name =
        #{packageName,jdbcType=VARCHAR},
        created_by =
        #{createdBy,jdbcType=VARCHAR},
        created_time =
        #{createdTime,jdbcType=TIMESTAMP},
        updated_by =
        #{updatedBy,jdbcType=VARCHAR},
        updated_time =
        #{updatedTime,jdbcType=TIMESTAMP},
        parent_object_var_id =
        #{parentObjectVarId,jdbcType=VARCHAR},
        parent_object_name =
        #{parentObjectName,jdbcType=VARCHAR}
        where id =
        #{id,jdbcType=VARCHAR}
    </update>
</mapper>