<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
    namespace="com.webank.wecube.platform.core.repository.plugin.CoreObjectListVarMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.plugin.CoreObjectListVar">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="data_type" property="dataType" jdbcType="VARCHAR" />
        <result column="data_value" property="dataValue"
            jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy"
            jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime"
            jdbcType="TIMESTAMP" />
        <result column="is_sensitive" property="sensitive"
            jdbcType="BIT" />
    </resultMap>
    <sql id="Base_Column_List">
        id, data_type, data_value, created_by, created_time, is_sensitive
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_object_list_var
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from plugin_object_list_var
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectListVar">
        insert into plugin_object_list_var (id, data_type, data_value,
        created_by, created_time, is_sensitive
        )
        values (#{id,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR},
        #{dataValue,jdbcType=VARCHAR},
        #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{sensitive,jdbcType=BIT}
        )
    </insert>
    <insert id="insertSelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectListVar">
        insert into plugin_object_list_var
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="dataValue != null">
                data_value,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="sensitive != null">
                is_sensitive,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="dataValue != null">
                #{dataValue,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sensitive != null">
                #{sensitive,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectListVar">
        update plugin_object_list_var
        <set>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="dataValue != null">
                data_value = #{dataValue,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sensitive != null">
                is_sensitive = #{sensitive,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.plugin.CoreObjectListVar">
        update plugin_object_list_var
        set data_type = #{dataType,jdbcType=VARCHAR},
        data_value = #{dataValue,jdbcType=VARCHAR},
        created_by = #{createdBy,jdbcType=VARCHAR},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        is_sensitive = #{sensitive,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>