<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
    namespace="com.webank.wecube.platform.core.repository.plugin.ExecutionJobParametersMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.plugin.ExecutionJobParameters">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="execution_job_id" property="executionJobId"
            jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="data_type" property="dataType" jdbcType="VARCHAR" />
        <result column="mapping_type" property="mappingType"
            jdbcType="VARCHAR" />
        <result column="mapping_entity_expression" property="mappingEntityExpression"
            jdbcType="VARCHAR" />
        <result column="mapping_system_variable_name" property="mappingSystemVariableName"
            jdbcType="VARCHAR" />
        <result column="required" property="required" jdbcType="VARCHAR" />
        <result column="constant_value" property="constantValue"
            jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="multiple" property="multiple" jdbcType="VARCHAR" />
        <result column="ref_object_name" property="refObjectName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id, execution_job_id, name, data_type, mapping_type,
        mapping_entity_expression, mapping_system_variable_name,
        required, constant_value, value, multiple, ref_object_name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from execution_job_parameters
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        execution_job_parameters
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.plugin.ExecutionJobParameters">
        insert into execution_job_parameters (
        id,
        execution_job_id,
        name,
        data_type, 
        mapping_type,
        mapping_entity_expression,
        mapping_system_variable_name,
        required, 
        constant_value,
        value,
        multiple, 
        ref_object_name
        )
        values (
        #{id,jdbcType=INTEGER},
        #{executionJobId,jdbcType=INTEGER},
        #{name,jdbcType=VARCHAR},
        #{dataType,jdbcType=VARCHAR}, 
        #{mappingType,jdbcType=VARCHAR},
        #{mappingEntityExpression,jdbcType=VARCHAR},
        #{mappingSystemVariableName,jdbcType=VARCHAR},
        #{required,jdbcType=VARCHAR}, 
        #{constantValue,jdbcType=VARCHAR},
        #{value,jdbcType=VARCHAR},
        #{multiple,jdbcType=VARCHAR},
        #{refObjectName,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true"
        keyProperty="id"
        parameterType="com.webank.wecube.platform.core.entity.plugin.ExecutionJobParameters">
        insert into execution_job_parameters
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="executionJobId != null">
                execution_job_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="mappingType != null">
                mapping_type,
            </if>
            <if test="mappingEntityExpression != null">
                mapping_entity_expression,
            </if>
            <if test="mappingSystemVariableName != null">
                mapping_system_variable_name,
            </if>
            <if test="required != null">
                required,
            </if>
            <if test="constantValue != null">
                constant_value,
            </if>
            <if test="value != null">
                value,
            </if>
            <if test="multiple != null">
                multiple,
            </if>
            <if test="refObjectName != null">
                ref_object_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="executionJobId != null">
                #{executionJobId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="mappingType != null">
                #{mappingType,jdbcType=VARCHAR},
            </if>
            <if test="mappingEntityExpression != null">
                #{mappingEntityExpression,jdbcType=VARCHAR},
            </if>
            <if test="mappingSystemVariableName != null">
                #{mappingSystemVariableName,jdbcType=VARCHAR},
            </if>
            <if test="required != null">
                #{required,jdbcType=VARCHAR},
            </if>
            <if test="constantValue != null">
                #{constantValue,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="multiple != null">
                #{multiple,jdbcType=VARCHAR},
            </if>
            <if test="refObjectName != null">
                #{refObjectName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.ExecutionJobParameters">
        update execution_job_parameters
        <set>
            <if test="executionJobId != null">
                execution_job_id =
                #{executionJobId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="mappingType != null">
                mapping_type = #{mappingType,jdbcType=VARCHAR},
            </if>
            <if test="mappingEntityExpression != null">
                mapping_entity_expression =
                #{mappingEntityExpression,jdbcType=VARCHAR},
            </if>
            <if test="mappingSystemVariableName != null">
                mapping_system_variable_name =
                #{mappingSystemVariableName,jdbcType=VARCHAR},
            </if>
            <if test="required != null">
                required = #{required,jdbcType=VARCHAR},
            </if>
            <if test="constantValue != null">
                constant_value =
                #{constantValue,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                value = #{value,jdbcType=VARCHAR},
            </if>
            <if test="multiple != null">
                multiple = #{multiple,jdbcType=VARCHAR},
            </if>
            <if test="refObjectName != null">
                ref_object_name = #{refObjectName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.plugin.ExecutionJobParameters">
        update execution_job_parameters
        set
        execution_job_id = #{executionJobId,jdbcType=INTEGER},
        name =
        #{name,jdbcType=VARCHAR},
        data_type =
        #{dataType,jdbcType=VARCHAR},
        mapping_type =
        #{mappingType,jdbcType=VARCHAR},
        mapping_entity_expression =
        #{mappingEntityExpression,jdbcType=VARCHAR},
        mapping_system_variable_name =
        #{mappingSystemVariableName,jdbcType=VARCHAR},
        required =
        #{required,jdbcType=VARCHAR},
        constant_value =
        #{constantValue,jdbcType=VARCHAR},
        value =
        #{value,jdbcType=VARCHAR},
        multiple =
        #{multiple,jdbcType=VARCHAR},
        ref_object_name =
        #{refObjectName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>