<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
    namespace="com.webank.wecube.platform.core.repository.plugin.PluginPackagesMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.plugin.PluginPackages">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="upload_timestamp" property="uploadTimestamp"
            jdbcType="TIMESTAMP" />
        <result column="ui_package_included" property="uiPackageIncluded"
            jdbcType="BIT" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, version, status, upload_timestamp, ui_package_included
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_packages
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from plugin_packages
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackages">
        insert into plugin_packages (id, name, version,
        status, upload_timestamp, ui_package_included
        )
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{version,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{uploadTimestamp,jdbcType=TIMESTAMP},
        #{uiPackageIncluded,jdbcType=BIT}
        )
    </insert>
    <insert id="insertSelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackages">
        insert into plugin_packages
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="uploadTimestamp != null">
                upload_timestamp,
            </if>
            <if test="uiPackageIncluded != null">
                ui_package_included,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="uploadTimestamp != null">
                #{uploadTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="uiPackageIncluded != null">
                #{uiPackageIncluded,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackages">
        update plugin_packages
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="uploadTimestamp != null">
                upload_timestamp = #{uploadTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="uiPackageIncluded != null">
                ui_package_included = #{uiPackageIncluded,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackages">
        update plugin_packages
        set name = #{name,jdbcType=VARCHAR},
        version = #{version,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR},
        upload_timestamp = #{uploadTimestamp,jdbcType=TIMESTAMP},
        ui_package_included = #{uiPackageIncluded,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <select id="countByNameAndVersion" resultType="java.lang.Integer"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_packages
        where name = #{name,jdbcType=VARCHAR}
        and version = #{version,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from plugin_packages
        limit 10000
    </select>

    <select id="selectAllDistinctPackages" resultMap="BaseResultMap">
        SELECT
        t1.*
        FROM
        plugin_packages t1
        WHERE
        t1.id =
        (
        SELECT t2.id
        FROM
        plugin_packages t2
        WHERE
        t2.name = t1.name
        ORDER BY t2.upload_timestamp DESC
        LIMIT 1
        )
    </select>
    
    <select id="selectAllByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_packages
        where name = #{name,jdbcType=VARCHAR}
    </select>
    
    <select id="selectAllByNameAndStatuses" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from plugin_packages
        where name = #{name,jdbcType=VARCHAR}
        and status in
        <foreach item="status" collection="statuses" separator="," open="(" close=")" index="">    
            #{status, jdbcType=VARCHAR}    
        </foreach>
    </select>
    
    <select id="selectAllByNameAndVersion" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_packages
        where name = #{name,jdbcType=VARCHAR}
        and version = #{version,jdbcType=VARCHAR}
    </select>
</mapper>