<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.webank.wecube.platform.core.repository.plugin.PluginConfigRolesMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.plugin.PluginConfigRoles">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_time" jdbcType="TIMESTAMP"
            property="createdTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated_time" jdbcType="TIMESTAMP"
            property="updatedTime" />
        <result column="is_active" jdbcType="BIT" property="isActive" />
        <result column="perm_type" jdbcType="VARCHAR" property="permType" />
        <result column="plugin_cfg_id" jdbcType="VARCHAR"
            property="pluginCfgId" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>
    <sql id="Base_Column_List">
        id, created_by, created_time, updated_by, updated_time,
        is_active,
        perm_type, plugin_cfg_id,
        role_id, role_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from plugin_config_roles
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        plugin_config_roles
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigRoles">
        insert into plugin_config_roles (id, created_by,
        created_time,
        updated_by, updated_time, is_active,
        perm_type,
        plugin_cfg_id, role_id,
        role_name)
        values (#{id,jdbcType=VARCHAR},
        #{createdBy,jdbcType=VARCHAR},
        #{createdTime,jdbcType=TIMESTAMP},
        #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=TIMESTAMP}, #{isActive,jdbcType=BIT},
        #{permType,jdbcType=VARCHAR}, #{pluginCfgId,jdbcType=VARCHAR},
        #{roleId,jdbcType=VARCHAR},
        #{roleName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigRoles">
        insert into plugin_config_roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="permType != null">
                perm_type,
            </if>
            <if test="pluginCfgId != null">
                plugin_cfg_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="permType != null">
                #{permType,jdbcType=VARCHAR},
            </if>
            <if test="pluginCfgId != null">
                #{pluginCfgId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigRoles">
        update plugin_config_roles
        <set>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time =
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time =
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=BIT},
            </if>
            <if test="permType != null">
                perm_type = #{permType,jdbcType=VARCHAR},
            </if>
            <if test="pluginCfgId != null">
                plugin_cfg_id = #{pluginCfgId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigRoles">
        update plugin_config_roles
        set created_by =
        #{createdBy,jdbcType=VARCHAR},
        created_time =
        #{createdTime,jdbcType=TIMESTAMP},
        updated_by =
        #{updatedBy,jdbcType=VARCHAR},
        updated_time =
        #{updatedTime,jdbcType=TIMESTAMP},
        is_active =
        #{isActive,jdbcType=BIT},
        perm_type =
        #{permType,jdbcType=VARCHAR},
        plugin_cfg_id =
        #{pluginCfgId,jdbcType=VARCHAR},
        role_id =
        #{roleId,jdbcType=VARCHAR},
        role_name =
        #{roleName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectAllByPluginConfig" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from plugin_config_roles
        where plugin_cfg_id =
        #{pluginConfigId,jdbcType=VARCHAR}
    </select>

    <select id="selectAllByPluginConfigAndPerm" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from plugin_config_roles
        where plugin_cfg_id =
        #{pluginConfigId,jdbcType=VARCHAR}
        and
        perm_type =
        #{permission,jdbcType=VARCHAR}
    </select>

    <select id="selectAllByPluginConfigIdAndPermissionAndRoleName"
        resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from plugin_config_roles
        where plugin_cfg_id =
        #{pluginConfigId,jdbcType=VARCHAR}
        and
        perm_type =
        #{permission,jdbcType=VARCHAR}
        and
        role_name =
        #{roleName,jdbcType=VARCHAR}
    </select>
</mapper>