<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wecube.platform.core.repository.plugin.PluginConfigsMapper" >
  <resultMap id="BaseResultMap" type="com.webank.wecube.platform.core.entity.plugin.PluginConfigs" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="plugin_package_id" property="pluginPackageId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="target_package" property="targetPackage" jdbcType="VARCHAR" />
    <result column="target_entity" property="targetEntity" jdbcType="VARCHAR" />
    <result column="target_entity_filter_rule" property="targetEntityFilterRule" jdbcType="VARCHAR" />
    <result column="register_name" property="registerName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, plugin_package_id, name, target_package, target_entity, target_entity_filter_rule, 
    register_name, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from plugin_configs
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from plugin_configs
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigs" >
    insert into plugin_configs (id, plugin_package_id, name, 
      target_package, target_entity, target_entity_filter_rule, 
      register_name, status)
    values (#{id,jdbcType=VARCHAR}, #{pluginPackageId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{targetPackage,jdbcType=VARCHAR}, #{targetEntity,jdbcType=VARCHAR}, #{targetEntityFilterRule,jdbcType=VARCHAR}, 
      #{registerName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigs" >
    insert into plugin_configs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pluginPackageId != null" >
        plugin_package_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="targetPackage != null" >
        target_package,
      </if>
      <if test="targetEntity != null" >
        target_entity,
      </if>
      <if test="targetEntityFilterRule != null" >
        target_entity_filter_rule,
      </if>
      <if test="registerName != null" >
        register_name,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pluginPackageId != null" >
        #{pluginPackageId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="targetPackage != null" >
        #{targetPackage,jdbcType=VARCHAR},
      </if>
      <if test="targetEntity != null" >
        #{targetEntity,jdbcType=VARCHAR},
      </if>
      <if test="targetEntityFilterRule != null" >
        #{targetEntityFilterRule,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null" >
        #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigs" >
    update plugin_configs
    <set >
      <if test="pluginPackageId != null" >
        plugin_package_id = #{pluginPackageId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="targetPackage != null" >
        target_package = #{targetPackage,jdbcType=VARCHAR},
      </if>
      <if test="targetEntity != null" >
        target_entity = #{targetEntity,jdbcType=VARCHAR},
      </if>
      <if test="targetEntityFilterRule != null" >
        target_entity_filter_rule = #{targetEntityFilterRule,jdbcType=VARCHAR},
      </if>
      <if test="registerName != null" >
        register_name = #{registerName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webank.wecube.platform.core.entity.plugin.PluginConfigs" >
    update plugin_configs
    set plugin_package_id = #{pluginPackageId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      target_package = #{targetPackage,jdbcType=VARCHAR},
      target_entity = #{targetEntity,jdbcType=VARCHAR},
      target_entity_filter_rule = #{targetEntityFilterRule,jdbcType=VARCHAR},
      register_name = #{registerName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>