<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
    namespace="com.webank.wecube.platform.core.repository.plugin.PluginPackageRuntimeResourcesMysqlMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.plugin.PluginPackageRuntimeResourcesMysql">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="plugin_package_id" property="pluginPackageId"
            jdbcType="VARCHAR" />
        <result column="schema_name" property="schemaName"
            jdbcType="VARCHAR" />
        <result column="init_file_name" property="initFileName"
            jdbcType="VARCHAR" />
        <result column="upgrade_file_name" property="upgradeFileName"
            jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        id, plugin_package_id, schema_name, init_file_name, upgrade_file_name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_package_runtime_resources_mysql
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from plugin_package_runtime_resources_mysql
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageRuntimeResourcesMysql">
        insert into plugin_package_runtime_resources_mysql (id,
        plugin_package_id, schema_name,
        init_file_name, upgrade_file_name)
        values (#{id,jdbcType=VARCHAR}, #{pluginPackageId,jdbcType=VARCHAR},
        #{schemaName,jdbcType=VARCHAR},
        #{initFileName,jdbcType=VARCHAR},
        #{upgradeFileName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageRuntimeResourcesMysql">
        insert into plugin_package_runtime_resources_mysql
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pluginPackageId != null">
                plugin_package_id,
            </if>
            <if test="schemaName != null">
                schema_name,
            </if>
            <if test="initFileName != null">
                init_file_name,
            </if>
            <if test="upgradeFileName != null">
                upgrade_file_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="pluginPackageId != null">
                #{pluginPackageId,jdbcType=VARCHAR},
            </if>
            <if test="schemaName != null">
                #{schemaName,jdbcType=VARCHAR},
            </if>
            <if test="initFileName != null">
                #{initFileName,jdbcType=VARCHAR},
            </if>
            <if test="upgradeFileName != null">
                #{upgradeFileName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageRuntimeResourcesMysql">
        update plugin_package_runtime_resources_mysql
        <set>
            <if test="pluginPackageId != null">
                plugin_package_id = #{pluginPackageId,jdbcType=VARCHAR},
            </if>
            <if test="schemaName != null">
                schema_name = #{schemaName,jdbcType=VARCHAR},
            </if>
            <if test="initFileName != null">
                init_file_name = #{initFileName,jdbcType=VARCHAR},
            </if>
            <if test="upgradeFileName != null">
                upgrade_file_name = #{upgradeFileName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageRuntimeResourcesMysql">
        update plugin_package_runtime_resources_mysql
        set plugin_package_id = #{pluginPackageId,jdbcType=VARCHAR},
        schema_name = #{schemaName,jdbcType=VARCHAR},
        init_file_name = #{initFileName,jdbcType=VARCHAR},
        upgrade_file_name = #{upgradeFileName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <select id="selectAllByPackage" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_package_runtime_resources_mysql
        where plugin_package_id = #{pluginPackageId,jdbcType=VARCHAR}
    </select>
</mapper>