<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
    namespace="com.webank.wecube.platform.core.repository.plugin.PluginPackageAttributesMapper">
    <resultMap id="BaseResultMap"
        type="com.webank.wecube.platform.core.entity.plugin.PluginPackageAttributes">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="entity_id" property="entityId" jdbcType="VARCHAR" />
        <result column="reference_id" property="referenceId"
            jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description"
            jdbcType="VARCHAR" />
        <result column="data_type" property="dataType" jdbcType="VARCHAR" />
        <result column="ref_package" property="refPackage"
            jdbcType="VARCHAR" />
        <result column="ref_entity" property="refEntity"
            jdbcType="VARCHAR" />
        <result column="ref_attr" property="refAttr" jdbcType="VARCHAR" />
        <result column="mandatory" property="mandatory" jdbcType="BIT" />
        <result column="multiple" property="multiple" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        id, entity_id, reference_id, name, description,
        data_type,ref_package,ref_entity,ref_attr,mandatory,multiple
    </sql>
    <sql id="Base_Column_List_T1">
        t1.id, t1.entity_id, t1.reference_id, t1.name, t1.description,
        t1.data_type,t1.ref_package,t1.ref_entity,t1.ref_attr,t1.mandatory,t1.multiple
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_package_attributes
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        plugin_package_attributes
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageAttributes">
        insert into plugin_package_attributes 
        (
        id,
        entity_id,
        reference_id,
        name, 
        description,
        data_type,
        ref_package,
        ref_entity,
        ref_attr,
        mandatory,
        multiple
        )
        values
        (
        #{id,jdbcType=VARCHAR}, 
        #{entityId,jdbcType=VARCHAR},
        #{referenceId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, 
        #{dataType,jdbcType=VARCHAR},
        #{refPackage,jdbcType=VARCHAR},
        #{refEntity,jdbcType=VARCHAR},
        #{refAttr,jdbcType=VARCHAR},
        #{mandatory,jdbcType=VARCHAR},
        #{multiple,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageAttributes">
        insert into plugin_package_attributes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="entityId != null">
                entity_id,
            </if>
            <if test="referenceId != null">
                reference_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="refPackage != null">
                ref_package,
            </if>
            <if test="refEntity != null">
                ref_entity,
            </if>
            <if test="refAttr != null">
                ref_attr,
            </if>
            <if test="mandatory != null">
                mandatory,
            </if>
            <if test="multiple != null">
                multiple,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="entityId != null">
                #{entityId,jdbcType=VARCHAR},
            </if>
            <if test="referenceId != null">
                #{referenceId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="refPackage != null">
                #{refPackage,jdbcType=VARCHAR},
            </if>
            <if test="refEntity != null">
                #{refEntity,jdbcType=VARCHAR},
            </if>
            <if test="refAttr != null">
                #{refAttr,jdbcType=VARCHAR},
            </if>
            <if test="mandatory != null">
                #{mandatory,jdbcType=BIT},
            </if>
            <if test="multiple != null">
                #{multiple,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageAttributes">
        update plugin_package_attributes
        <set>
            <if test="entityId != null">
                entity_id = #{entityId,jdbcType=VARCHAR},
            </if>
            <if test="referenceId != null">
                reference_id = #{referenceId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="refPackage != null">
                ref_package = #{refPackage,jdbcType=VARCHAR},
            </if>
            <if test="refEntity != null">
                ref_entity = #{refEntity,jdbcType=VARCHAR},
            </if>
            <if test="refAttr != null">
                ref_attr = #{refAttr,jdbcType=VARCHAR},
            </if>
            <if test="mandatory != null">
                mandatory = #{mandatory,jdbcType=BIT},
            </if>
            <if test="multiple != null">
                multiple = #{multiple,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey"
        parameterType="com.webank.wecube.platform.core.entity.plugin.PluginPackageAttributes">
        update plugin_package_attributes
        set entity_id =
        #{entityId,jdbcType=VARCHAR},
        reference_id =
        #{referenceId,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        data_type =
        #{dataType,jdbcType=VARCHAR},
        ref_package =
        #{refPackage,jdbcType=VARCHAR},
        ref_entity =
        #{refEntity,jdbcType=VARCHAR},
        ref_attr =
        #{refAttr,jdbcType=VARCHAR},
        mandatory = #{mandatory,jdbcType=BIT},
        multiple =
        #{multiple,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectAllByEntity" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_package_attributes
        where entity_id =
        #{entityId,jdbcType=VARCHAR}
    </select>

    <select id="selectAllReferences" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from plugin_package_attributes
        where reference_id =
        #{attributeId,jdbcType=VARCHAR}
    </select>
    
    <select id="selectAllRefAttributesToRefreshByDataModel" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List_T1" />
        FROM plugin_package_attributes t1,
        plugin_package_entities t2
        WHERE t1.reference_id IS NULL
        AND t1.data_type = 'ref'
        AND t1.entity_id = t2.id
        AND t2.data_model_id = #{dataModelId,jdbcType=VARCHAR}
    </select>
    
    <select id="selectLatestAttributeByPackageAndEntityAndAttr" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List_T1" />
        FROM plugin_package_attributes t1,
        plugin_package_entities t2
        WHERE 
        t1.name = #{attrName,jdbcType=VARCHAR}
        AND
        t1.entity_id = t2.id
        AND t2.package_name = #{packageName,jdbcType=VARCHAR}
        AND t2.name = #{entityName,jdbcType=VARCHAR}
        AND t2.data_model_version = (
            SELECT max(t3.data_model_version) FROM plugin_package_entities t3
            WHERE t3.package_name = #{packageName,jdbcType=VARCHAR}
            AND t3.name = #{entityName,jdbcType=VARCHAR}
            GROUP BY t3.package_name,t3.name
        )
    </select>
</mapper>